<?xml version='1.0' encoding='utf-8'?>
<robot name="rexrov2">
  <material name="blue">
    <color rgba="0.0 0.0 0.8 1.0" />
  </material>
  <material name="green">
    <color rgba="0.0 0.8 0.0 1.0" />
  </material>
  <material name="grey">
    <color rgba="0.7 0.7 0.7 1.0" />
  </material>
  <material name="grey2">
    <color rgba="0.9 0.9 0.9 1.0" />
  </material>
  <material name="red">
    <color rgba="0.8 0.0 0.0 1.0" />
  </material>
  <material name="orange">
    <color rgba="1.0 0.5 0.0 1.0" />
  </material>
  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0" />
  </material>
  <material name="black">
    <color rgba="0.05 0.05 0.05 1.0" />
  </material>
  <link name="rexrov2_base_link">
    <inertial>
      <mass value="1862.87" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <inertia ixx="525.39" ixy="1.44" ixz="33.41" iyy="794.20" iyz="2.6" izz="691.23" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/RexROV2_no_props.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 -0.75" />
      <geometry>
        <box size="2.56 1.50 0.10" />
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.60" />
      <geometry>
        <box size="2.56 1.50 0.40" />
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="-0.20 0.70 -0.15" />
      <geometry>
        <box size="2.20 0.10 1.10" />
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="-0.20 -0.70 -0.15" />
      <geometry>
        <box size="2.20 0.10 1.10" />
      </geometry>
    </collision>
  </link>
  <link name="rexrov2_dvl_link">
    <inertial>
      <mass value="0.001" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000017" iyz="0" izz="0.000000017" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/dvl.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder length="1e-06" radius="1e-06" />
      </geometry>
      <origin rpy="0 1.5707963267948966 0" xyz="0 0 0" />
    </collision>
  </link>
  <joint name="rexrov2_dvl_joint" type="revolute">
    <origin rpy="0 1.5707963267948966 0" xyz="0.294307 0.468494 -0.68" />
    <parent link="rexrov2_base_link" />
    <child link="rexrov2_dvl_link" />
    <limit effort="0" lower="0" upper="0" velocity="0" />
    <axis xyz="1 0 0" />
  </joint>
  <link name="rexrov2_dvl_sonar0_link">
    <inertial>
      <mass value="0.001" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000017" iyz="0" izz="0.000000017" />
    </inertial>
    <collision>
      <geometry>
        <cylinder length="1e-06" radius="1e-06" />
      </geometry>
      <origin rpy="0 1.5707963267948966 0" xyz="0 0 0" />
    </collision>
  </link>
  <joint name="rexrov2_dvl_sonar0_joint" type="revolute">
    <origin rpy="0 -0.52 0.0" xyz="0 0 0" />
    <parent link="rexrov2_dvl_link" />
    <child link="rexrov2_dvl_sonar0_link" />
    <limit effort="0" lower="0" upper="0" velocity="0" />
    <axis xyz="1 0 0" />
  </joint>
  <link name="rexrov2_dvl_sonar1_link">
    <inertial>
      <mass value="0.001" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000017" iyz="0" izz="0.000000017" />
    </inertial>
    <collision>
      <geometry>
        <cylinder length="1e-06" radius="1e-06" />
      </geometry>
      <origin rpy="0 1.5707963267948966 0" xyz="0 0 0" />
    </collision>
  </link>
  <joint name="rexrov2_dvl_sonar1_joint" type="revolute">
    <origin rpy="0 0 0.52" xyz="0 0 0" />
    <parent link="rexrov2_dvl_link" />
    <child link="rexrov2_dvl_sonar1_link" />
    <limit effort="0" lower="0" upper="0" velocity="0" />
    <axis xyz="1 0 0" />
  </joint>
  <link name="rexrov2_dvl_sonar2_link">
    <inertial>
      <mass value="0.001" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000017" iyz="0" izz="0.000000017" />
    </inertial>
    <collision>
      <geometry>
        <cylinder length="1e-06" radius="1e-06" />
      </geometry>
      <origin rpy="0 1.5707963267948966 0" xyz="0 0 0" />
    </collision>
  </link>
  <joint name="rexrov2_dvl_sonar2_joint" type="revolute">
    <origin rpy="0 0.52 0.0" xyz="0 0 0" />
    <parent link="rexrov2_dvl_link" />
    <child link="rexrov2_dvl_sonar2_link" />
    <limit effort="0" lower="0" upper="0" velocity="0" />
    <axis xyz="1 0 0" />
  </joint>
  <link name="rexrov2_dvl_sonar3_link">
    <inertial>
      <mass value="0.001" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000017" iyz="0" izz="0.000000017" />
    </inertial>
    <collision>
      <geometry>
        <cylinder length="1e-06" radius="1e-06" />
      </geometry>
      <origin rpy="0 1.5707963267948966 0" xyz="0 0 0" />
    </collision>
  </link>
  <joint name="rexrov2_dvl_sonar3_joint" type="revolute">
    <origin rpy="0 0.0 -0.52" xyz="0 0 0" />
    <parent link="rexrov2_dvl_link" />
    <child link="rexrov2_dvl_sonar3_link" />
    <limit effort="0" lower="0" upper="0" velocity="0" />
    <axis xyz="1 0 0" />
  </joint>
  <link name="rexrov2_magnetometer_link">
    <inertial>
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
      <mass value="0.015" />
      <origin rpy="0 0 0" xyz="0 0 0" />
    </inertial>
    <visual>
      <geometry>
        <box size="0.1 0.1 0.1" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder length="1e-06" radius="1e-06" />
      </geometry>
      <origin rpy="0 1.5707963267948966 0" xyz="0 0 0" />
    </collision>
  </link>
  <joint name="rexrov2_magnetometer_joint" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="rexrov2_base_link" />
    <child link="rexrov2_magnetometer_link" />
    <limit effort="0" lower="0" upper="0" velocity="0" />
    <axis xyz="1 0 0" />
  </joint>
  <link name="rexrov2_rpt_link">
    <inertial>
      <mass value="0.001" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000017" iyz="0" izz="0.000000017" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/rpt.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder length="1e-06" radius="1e-06" />
      </geometry>
      <origin rpy="0 1.5707963267948966 0" xyz="0 0 0" />
    </collision>
  </link>
  <joint name="rexrov2_rpt_joint" type="revolute">
    <origin rpy="0 0 0" xyz="-1.32 0 0.8" />
    <parent link="rexrov2_base_link" />
    <child link="rexrov2_rpt_link" />
    <limit effort="0" lower="0" upper="0" velocity="0" />
    <axis xyz="1 0 0" />
  </joint>
  <link name="rexrov2_pressure_link">
    <inertial>
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
      <mass value="0.015" />
      <origin rpy="0 0 0" xyz="0 0 0" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/pressure.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder length="1e-06" radius="1e-06" />
      </geometry>
      <origin rpy="0 1.5707963267948966 0" xyz="0 0 0" />
    </collision>
  </link>
  <joint name="rexrov2_pressure_joint" type="revolute">
    <origin rpy="0 0 0" xyz="-1.32 0.5 0.85" />
    <parent link="rexrov2_base_link" />
    <child link="rexrov2_pressure_link" />
    <limit effort="0" lower="0" upper="0" velocity="0" />
    <axis xyz="1 0 0" />
  </joint>
  <link name="rexrov2_imu_link">
    <inertial>
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
      <mass value="0.015" />
      <origin rpy="0 0 0" xyz="0 0 0" />
    </inertial>
  </link>
  <joint name="rexrov2_imu_joint" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="rexrov2_base_link" />
    <child link="rexrov2_imu_link" />
    <limit effort="0" lower="0" upper="0" velocity="0" />
    <axis xyz="1 0 0" />
  </joint>
  <link name="rexrov2_camera_link">
    <inertial>
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
      <mass value="0.1" />
      <origin rpy="0 0 0" xyz="0 0 0" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/oe14-372.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder length="1e-06" radius="1e-06" />
      </geometry>
      <origin rpy="0 1.5707963267948966 0" xyz="0 0 0" />
    </collision>
  </link>
  <joint name="rexrov2_camera_joint" type="revolute">
    <origin rpy="0 0.6 0" xyz="1.15 0 0.4" />
    <parent link="rexrov2_base_link" />
    <child link="rexrov2_camera_link" />
    <limit effort="0" lower="0" upper="0" velocity="0" />
    <axis xyz="1 0 0" />
  </joint>
  <link name="rexrov2_camera_link_optical">
    <inertial>
      <mass value="0.001" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <inertia ixx="1.6666660000000001e-12" ixy="0.0" ixz="0.0" iyy="1.6666660000000001e-12" iyz="0.0" izz="1.6666660000000001e-12" />
    </inertial>
    <collision>
      <geometry>
        <cylinder length="0.000001" radius="0.000001" />
      </geometry>
      <origin rpy="0 1.5707963267948966 0" xyz="0 0 0" />
    </collision>
  </link>
  <joint name="rexrov2_camera_optical_joint" type="revolute">
    <origin rpy="-1.5707963267948966 0 -1.5707963267948966" xyz="0 0 0" />
    <parent link="rexrov2_camera_link" />
    <child link="rexrov2_camera_link_optical" />
    <limit effort="0" lower="0" upper="0" velocity="0" />
    <axis xyz="1 0 0" />
  </joint>
  <link name="rexrov2_cameraright_link">
    <inertial>
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
      <mass value="0.1" />
      <origin rpy="0 0 0" xyz="0 0 0" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/oe14-372.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder length="1e-06" radius="1e-06" />
      </geometry>
      <origin rpy="0 1.5707963267948966 0" xyz="0 0 0" />
    </collision>
  </link>
  <joint name="rexrov2_cameraright_joint" type="revolute">
    <origin rpy="0 0.6 0.4" xyz="1.15 -0.63 0.4" />
    <parent link="rexrov2_base_link" />
    <child link="rexrov2_cameraright_link" />
    <limit effort="0" lower="0" upper="0" velocity="0" />
    <axis xyz="1 0 0" />
  </joint>
  <link name="rexrov2_cameraright_link_optical">
    <inertial>
      <mass value="0.001" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <inertia ixx="1.6666660000000001e-12" ixy="0.0" ixz="0.0" iyy="1.6666660000000001e-12" iyz="0.0" izz="1.6666660000000001e-12" />
    </inertial>
    <collision>
      <geometry>
        <cylinder length="0.000001" radius="0.000001" />
      </geometry>
      <origin rpy="0 1.5707963267948966 0" xyz="0 0 0" />
    </collision>
  </link>
  <joint name="rexrov2_cameraright_optical_joint" type="revolute">
    <origin rpy="-1.5707963267948966 0 -1.5707963267948966" xyz="0 0 0" />
    <parent link="rexrov2_cameraright_link" />
    <child link="rexrov2_cameraright_link_optical" />
    <limit effort="0" lower="0" upper="0" velocity="0" />
    <axis xyz="1 0 0" />
  </joint>
  <link name="rexrov2_cameraleft_link">
    <inertial>
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
      <mass value="0.1" />
      <origin rpy="0 0 0" xyz="0 0 0" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/oe14-372.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder length="1e-06" radius="1e-06" />
      </geometry>
      <origin rpy="0 1.5707963267948966 0" xyz="0 0 0" />
    </collision>
  </link>
  <joint name="rexrov2_cameraleft_joint" type="revolute">
    <origin rpy="0 0.6 -0.4" xyz="1.15 0.63 0.4" />
    <parent link="rexrov2_base_link" />
    <child link="rexrov2_cameraleft_link" />
    <limit effort="0" lower="0" upper="0" velocity="0" />
    <axis xyz="1 0 0" />
  </joint>
  <link name="rexrov2_cameraleft_link_optical">
    <inertial>
      <mass value="0.001" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <inertia ixx="1.6666660000000001e-12" ixy="0.0" ixz="0.0" iyy="1.6666660000000001e-12" iyz="0.0" izz="1.6666660000000001e-12" />
    </inertial>
    <collision>
      <geometry>
        <cylinder length="0.000001" radius="0.000001" />
      </geometry>
      <origin rpy="0 1.5707963267948966 0" xyz="0 0 0" />
    </collision>
  </link>
  <joint name="rexrov2_cameraleft_optical_joint" type="revolute">
    <origin rpy="-1.5707963267948966 0 -1.5707963267948966" xyz="0 0 0" />
    <parent link="rexrov2_cameraleft_link" />
    <child link="rexrov2_cameraleft_link_optical" />
    <limit effort="0" lower="0" upper="0" velocity="0" />
    <axis xyz="1 0 0" />
  </joint>
  <link name="rexrov2_gps_link">
    <inertial>
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
      <mass value="0.001" />
      <origin rpy="0 0 0" xyz="0 0 0" />
    </inertial>
  </link>
  <joint name="rexrov2_gps_joint" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="rexrov2_base_link" />
    <child link="rexrov2_gps_link" />
    <axis xyz="1 0 0" />
    <limit effort="0" lower="0" upper="0" velocity="0" />
  </joint>
  <link name="rexrov2_pose_sensor_link_default">
    <inertial>
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
      <mass value="0.001" />
      <origin rpy="0 0 0" xyz="0 0 0" />
    </inertial>
  </link>
  <joint name="rexrov2_pose_sensor_default_joint" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <axis xyz="0 0 1" />
    <parent link="rexrov2_base_link" />
    <child link="rexrov2_pose_sensor_link_default" />
    <limit effort="0" lower="0" upper="0" velocity="0" />
  </joint>
  <link name="rexrov2_cc_sensor_link">
    <inertial>
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
      <mass value="0.001" />
      <origin rpy="0 0 0" xyz="0 0 0" />
    </inertial>
  </link>
  <joint name="rexrov2_cc_sensor_joint" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="rexrov2_base_link" />
    <child link="rexrov2_cc_sensor_link" />
    <axis xyz="1 0 0" />
    <limit effort="0" lower="0" upper="0" velocity="0" />
  </joint>
  <joint name="rexrov2_thruster_0_joint" type="continuous">
    <origin rpy="0 0 1.5707961" xyz="0.4878 0 0.2373" />
    <axis xyz="1 0 0" />
    <parent link="rexrov2_base_link" />
    <child link="rexrov2_thruster_0" />
  </joint>
  <link name="rexrov2_thruster_0">
    <inertial>
      <mass value="0.001" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/Propeller.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.000001" radius="0.000001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
    </collision>
  </link>
  <joint name="rexrov2_thruster_1_joint" type="continuous">
    <origin rpy="0 -1.30899675 0" xyz="-0.8217 0 0.589" />
    <axis xyz="1 0 0" />
    <parent link="rexrov2_base_link" />
    <child link="rexrov2_thruster_1" />
  </joint>
  <link name="rexrov2_thruster_1">
    <inertial>
      <mass value="0.001" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/Propeller.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.000001" radius="0.000001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
    </collision>
  </link>
  <joint name="rexrov2_thruster_2_joint" type="continuous">
    <origin rpy="0 -1.178097075 1.5707961" xyz="0.8654 -0.5322 0.5332" />
    <axis xyz="1 0 0" />
    <parent link="rexrov2_base_link" />
    <child link="rexrov2_thruster_2" />
  </joint>
  <link name="rexrov2_thruster_2">
    <inertial>
      <mass value="0.001" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/Propeller.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.000001" radius="0.000001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
    </collision>
  </link>
  <joint name="rexrov2_thruster_3_joint" type="continuous">
    <origin rpy="0 1.178097075 1.5707961" xyz="0.8654 0.5322 0.5332" />
    <axis xyz="1 0 0" />
    <parent link="rexrov2_base_link" />
    <child link="rexrov2_thruster_3" />
  </joint>
  <link name="rexrov2_thruster_3">
    <inertial>
      <mass value="0.001" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/Propeller.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.000001" radius="0.000001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
    </collision>
  </link>
  <joint name="rexrov2_thruster_4_joint" type="continuous">
    <origin rpy="0 0 0.43633225" xyz="-0.7076 0.5129 0.2404" />
    <axis xyz="1 0 0" />
    <parent link="rexrov2_base_link" />
    <child link="rexrov2_thruster_4" />
  </joint>
  <link name="rexrov2_thruster_4">
    <inertial>
      <mass value="0.001" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/Propeller.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.000001" radius="0.000001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
    </collision>
  </link>
  <joint name="rexrov2_thruster_5_joint" type="continuous">
    <origin rpy="0 0 -0.43633225" xyz="-0.7076 -0.5129 0.2404" />
    <axis xyz="1 0 0" />
    <parent link="rexrov2_base_link" />
    <child link="rexrov2_thruster_5" />
  </joint>
  <link name="rexrov2_thruster_5">
    <inertial>
      <mass value="0.001" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/Propeller.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.000001" radius="0.000001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
    </collision>
  </link>
</robot>